<p id="notice"><%= notice %></p>

<p>
  <strong>Encrypted secret:</strong>
  <%= @secret.encrypted_secret %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
