// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}

.alert-info {
  z-index: 999;
  top: 60px;
  position: fixed;
  width: 70%;
}

